nodeRedFiles.json
[{"id":"4b2f1b3.0486364","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed1a8fa7.b6e68","type":"function","z":"4b2f1b3.0486364","name":"","func":"msg.apikey = \"RGAPI-3ec15c47-79e7-451c-8b74-8b9021e8479b\";\nmsg.summoner = encodeURI(msg.payload);\nmsg.headers = {\n    \"Accept-Charset\": \"application/x-www-form-urlencoded; charset=UTF-8\",\n    \"Accept-Language\": \"pt-BR,pt;q=0.8,en-US;q=0.5,en;q=0.3\",\n    \"X-Riot-Token\": msg.apikey\n    \n}\n// msg.summoner = encodeURI(\"rakin\");\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["c8f92de5.763358","5edc4315.ba87bc"]]},{"id":"c8f92de5.763358","type":"http request","z":"4b2f1b3.0486364","name":"","method":"GET","ret":"obj","url":"https://br1.api.riotgames.com/lol/summoner/v3/summoners/by-name/{{summoner}}","tls":"","x":640,"y":120,"wires":[["787e9878.ad5788","ed70c0b0.622ed"]]},{"id":"787e9878.ad5788","type":"debug","z":"4b2f1b3.0486364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":60,"wires":[]},{"id":"1b78413c.46f35f","type":"inject","z":"4b2f1b3.0486364","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":120,"wires":[["ed1a8fa7.b6e68"]]},{"id":"ed70c0b0.622ed","type":"function","z":"4b2f1b3.0486364","name":"","func":"msg.summonerId = msg.payload.id;\nmsg.headers = {\n    \"Accept-Charset\": \"application/x-www-form-urlencoded; charset=UTF-8\",\n    \"Accept-Language\": \"pt-BR,pt;q=0.8,en-US;q=0.5,en;q=0.3\",\n    \"X-Riot-Token\": msg.apikey\n    \n}\nconsole.log(typeof(msg.summonerId));\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["c27c01a0.8afdd8","9a74135a.446fd"]]},{"id":"d27251b4.56dc78","type":"twitter in","z":"4b2f1b3.0486364","twitter":"","tags":"#EncontreMinhaPartida","user":"false","name":"","topic":"tweets","inputs":0,"x":70,"y":360,"wires":[["809c649e.d27fd8","a609065c.b9c468"]]},{"id":"c27c01a0.8afdd8","type":"http request","z":"4b2f1b3.0486364","name":"","method":"GET","ret":"obj","url":"https://br1.api.riotgames.com/lol/spectator/v3/active-games/by-summoner/{{summonerId}}?api_key={{apikey}}","tls":"","x":970,"y":280,"wires":[["c1f66450.696e98","3ddee5e5.5b8072"]]},{"id":"c1f66450.696e98","type":"debug","z":"4b2f1b3.0486364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":180,"wires":[]},{"id":"809c649e.d27fd8","type":"debug","z":"4b2f1b3.0486364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":460,"wires":[]},{"id":"a609065c.b9c468","type":"change","z":"4b2f1b3.0486364","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"#encontreminhapartida ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[["ed1a8fa7.b6e68"]]},{"id":"5edc4315.ba87bc","type":"debug","z":"4b2f1b3.0486364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":200,"wires":[]},{"id":"9a74135a.446fd","type":"debug","z":"4b2f1b3.0486364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":460,"wires":[]},{"id":"59b6fd6f.86809c","type":"switch","z":"4b2f1b3.0486364","name":"","property":"payload.status.status_code","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"},{"t":"eq","v":"503","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1230,"y":280,"wires":[["15a3c3a.f79f13c"],["b0ca0b81.a54178"],["272b5d3.b1b3da2"]]},{"id":"15a3c3a.f79f13c","type":"function","z":"4b2f1b3.0486364","name":"","func":"msg.payload = \"Usuário não se encontra em partida ativa\"\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":200,"wires":[["443e117b.c3d1b"]]},{"id":"b0ca0b81.a54178","type":"function","z":"4b2f1b3.0486364","name":"","func":"msg.payload = \"Serviço da API do League of Legends não respondeu. Confira o status da API no site de desenvolvimento.\"\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":280,"wires":[["443e117b.c3d1b"]]},{"id":"d46d7863.053db8","type":"http request","z":"4b2f1b3.0486364","name":"","method":"GET","ret":"obj","url":"https://br1.api.riotgames.com/lol/league/v3/positions/by-summoner/{{payload.summonerId}}?api_key=RGAPI-3ec15c47-79e7-451c-8b74-8b9021e8479b","tls":"","x":1990,"y":360,"wires":[["15295d1d.9b6103"]]},{"id":"15295d1d.9b6103","type":"function","z":"4b2f1b3.0486364","name":"","func":"var playerIndex = msg.parts.index;\nfor (var key in msg.payload) {\n    if(msg.payload[key].queueType == \"RANKED_SOLO_5x5\"){\n        msg.player[playerIndex].tier =  msg.payload[key].tier\n        msg.player[playerIndex].rank = msg.payload[key].rank\n    }\n}\nmsg.payload = msg.player[playerIndex];\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":360,"wires":[["c0940ab9.5c6178"]]},{"id":"8d369ff2.119d8","type":"twitter out","z":"4b2f1b3.0486364","twitter":"","name":"Tweet","x":2850,"y":400,"wires":[]},{"id":"443e117b.c3d1b","type":"debug","z":"4b2f1b3.0486364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":160,"wires":[]},{"id":"c0940ab9.5c6178","type":"join","z":"4b2f1b3.0486364","name":"","mode":"auto","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2410,"y":360,"wires":[["d5704f1a.06d57"]]},{"id":"272b5d3.b1b3da2","type":"function","z":"4b2f1b3.0486364","name":"","func":"var payload = msg.payload;\n// var tweetUser = msg.tweet.user.screen_name;\nvar players = {\n    player: []\n};\n// var texto = \"@\"+tweetUser + \" Modo de Jogo: \" + msg.payload.gameMode + \"\\n\"\nfor(var key in payload.participants){\n    var summonerKey = {\n        \"summonerId\": payload.participants[key].summonerId,\n        \"summonerName\": payload.participants[key].summonerName,\n        \"teamId\": payload.participants[key].teamId\n    }\n    players.player.push(summonerKey)\n}\nmsg.player = players.player;\nmsg.payload = players.player;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":360,"wires":[["aecf355c.47af58"]]},{"id":"d5704f1a.06d57","type":"function","z":"4b2f1b3.0486364","name":"","func":"var outPayload = msg.payload;\nvar tweetUser = msg.tweet.user.screen_name;\nvar texto = \"@\"+tweetUser+\"\\n\";\nfor(var key in outPayload) {\n    if(key == 0){\n        texto += \"Blue:\\n\" + outPayload[key].payload.summonerName + \" \"+outPayload[key].payload.tier + \" \"+outPayload[key].payload.rank+ \" \\n\"\n    }else if (key == 5){\n        texto += \"Red:\\n\" + outPayload[key].payload.summonerName + \" \"+outPayload[key].payload.tier + \" \"+outPayload[key].payload.rank+ \" \\n\"\n\n    } else {\n        texto +=outPayload[key].payload.summonerName + \" \"+outPayload[key].payload.tier + \" \"+outPayload[key].payload.rank+ \" \\n\"\n\n    }\n    \n}\nmsg.payload = texto;\nreturn msg;","outputs":1,"noerr":0,"x":2620,"y":380,"wires":[["c3b8edd8.7e241","8d369ff2.119d8"]]},{"id":"764cb758.d1f378","type":"debug","z":"4b2f1b3.0486364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2150,"y":580,"wires":[]},{"id":"c3b8edd8.7e241","type":"debug","z":"4b2f1b3.0486364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2570,"y":520,"wires":[]},{"id":"aecf355c.47af58","type":"split","z":"4b2f1b3.0486364","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1850,"y":540,"wires":[["d46d7863.053db8","764cb758.d1f378"]]},{"id":"3ddee5e5.5b8072","type":"function","z":"4b2f1b3.0486364","name":"","func":"if (msg.payload.status === undefined) {\n    msg.payload.status = {}\n    msg.payload.status.status_code = 200;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":360,"wires":[["59b6fd6f.86809c"]]}]